.dashboard {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;

	aside {
		box-shadow: 5px 5px 15px -5px black;
		margin: 20px;

		padding: 10px;
		background-color: $c-accent;
		border-radius: 10px;

		ul {
			list-style: none;
			padding-left: 0px;
			li {
				padding: 10px;
				text-align: center;
				font-size: 1.2rem;
				margin: 10px;
				font-weight: bolder;
				transition: all 0.5s ease-in-out;
				color: $c-content;
				&:hover {
					color: $c-background;
					cursor: pointer;
				}
			}
		}
	}
	article {
		box-shadow: 5px 5px 15px -5px black;
		margin: 20px;
		background-color: $c-shade-1;
		border-radius: 10px;
		height: calc(100% - 60px);
		width: calc(100% - 80px);
		padding: 20px;
	}
}

@media (min-width: $sm) {
	.dashboard {
		flex-flow: row nowrap;

		article {
			width: calc(100% - 160px);
		}
	}
}
